BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 90
AccessModifierOffset: -4
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Empty
FixNamespaceComments: false
SortIncludes: false
